In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./new_lab5_taxi_data.csv")
df.head()

,vender,pickup,dropoff,count,distance,ratecode,storeflag,pulcid,dolocid,paytype,fare,extra,mta_tax,tip,tolls,surcharge,total
0,VendorB,2025-02-08 13:51:05,2025-02-08 14:50:05,4,4,Discount,Y,13,10,Digital,15.02,0.72,0.91,12.02,0.06,1.18,29.91
1,VendorA,2025-01-21 10:32:05,2025-01-21 11:18:05,3,10,Standard,N,14,20,Digital,49.51,4.61,0.56,13.07,2.24,4.09,74.08
2,VendorA,2025-02-01 15:05:05,2025-02-01 15:25:05,2,4,Standard,N,10,3,Credit,34.45,2.43,1.03,4.12,4.68,4.81,51.52
3,VendorB,2025-01-29 3:27:05,2025-01-29 3:42:05,4,11,Standard,Y,19,11,Cash,26.29,4.83,0.65,9.54,5.65,4.67,51.63
4,VendorB,2025-01-21 18:12:05,2025-01-21 18:28:05,1,2,Discount,Y,15,12,Credit,40.00,1.07,1.83,10.33,3.81,0.69,57.73